.vs/VSWorkspaceState.json
.vs/PrisApi/CopilotIndices/0.2.1653.9816/CodeChunks.db
.vs/PrisApi/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
.vs/PrisApi/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/PrisApi/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
.vs/PrisApi/CopilotIndices/18.0.722.55285/CodeChunks.db
.vs/PrisApi/CopilotIndices/18.0.722.55285/SemanticSymbols.db
.vs/PrisApi/DesignTimeBuild/.dtbcache.v2
.vs/PrisApi/FileContentIndex/a697d729-81ff-43f0-8e80-d0107a91959c.vsidx
.vs/PrisApi/FileContentIndex/a1558298-e689-4616-b2d1-e37686fa41fa.vsidx
.vs/PrisApi/v18/.futdcache.v2
.vs/PrisApi/v18/.suo
.vs/PrisApi/v18/DocumentLayout.backup.json
.vs/PrisApi/v18/DocumentLayout.json
.vs/PrisApi/v18/HierarchyCache.v1.txt
.vs/ProjectEvaluation/prisapi.metadata.v9.bin
.vs/ProjectEvaluation/prisapi.metadata.v10.bin
.vs/ProjectEvaluation/prisapi.projects.v9.bin
.vs/ProjectEvaluation/prisapi.projects.v10.bin
.vs/ProjectEvaluation/prisapi.strings.v9.bin
.vs/ProjectEvaluation/prisapi.strings.v10.bin
[Bb]in/
[Oo]bj/